<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Room</key>
	<dict>
		<key>Room7</key>
		<dict>
			<key>RoomName</key>
			<string>Bedroom 2</string>
			<key>North</key>
			<string></string>
			<key>South</key>
			<string>Room6</string>
			<key>East</key>
			<string></string>
			<key>West</key>
			<string></string>
		</dict>
		<key>Room6</key>
		<dict>
			<key>RoomName</key>
			<string>Game Room</string>
			<key>North</key>
			<string></string>
			<key>South</key>
			<string>Room1</string>
			<key>East</key>
			<string>Room7</string>
			<key>West</key>
			<string></string>
		</dict>
		<key>Room5</key>
		<dict>
			<key>RoomName</key>
			<string>Master Bath</string>
			<key>North</key>
			<string></string>
			<key>South</key>
			<string>Room4</string>
			<key>East</key>
			<string></string>
			<key>West</key>
			<string></string>
		</dict>
		<key>Room4</key>
		<dict>
			<key>RoomName</key>
			<string>Master Bedroom</string>
			<key>North</key>
			<string></string>
			<key>South</key>
			<string>Room1</string>
			<key>East</key>
			<string></string>
			<key>West</key>
			<string>Room5</string>
		</dict>
		<key>Room3</key>
		<dict>
			<key>RoomName</key>
			<string>Patio</string>
			<key>North</key>
			<string></string>
			<key>South</key>
			<string>Room2</string>
			<key>East</key>
			<string></string>
			<key>West</key>
			<string></string>
		</dict>
		<key>Room2</key>
		<dict>
			<key>RoomName</key>
			<string>Kitchen</string>
			<key>North</key>
			<string></string>
			<key>South</key>
			<string>Room1</string>
			<key>East</key>
			<string></string>
			<key>West</key>
			<string>Room3</string>
		</dict>
		<key>Room1</key>
		<dict>
			<key>RoomName</key>
			<string>Living Room</string>
			<key>North</key>
			<string>Room2</string>
			<key>South</key>
			<string>Room6</string>
			<key>East</key>
			<string></string>
			<key>West</key>
			<string>Room4</string>
		</dict>
	</dict>
	<key>Person</key>
	<dict>
		<key>Room7</key>
		<dict>
			<key>RoomName</key>
			<string>Room7</string>
			<key>North</key>
			<string>house4room7north</string>
			<key>South</key>
			<string>house4room7south</string>
			<key>East</key>
			<string></string>
			<key>West</key>
			<string>house4room7west</string>
		</dict>
		<key>Room6</key>
		<dict>
			<key>RoomName</key>
			<string>Room6</string>
			<key>North</key>
			<string>house4room6north</string>
			<key>South</key>
			<string>house4room6south</string>
			<key>East</key>
			<string>house4room6east</string>
			<key>West</key>
			<string>house4room6west</string>
		</dict>
		<key>Room5</key>
		<dict>
			<key>RoomName</key>
			<string>Room5</string>
			<key>North</key>
			<string>house4room5north</string>
			<key>South</key>
			<string>house4room5south</string>
			<key>East</key>
			<string>house4room5east</string>
			<key>West</key>
			<string>house4room5west</string>
		</dict>
		<key>Room4</key>
		<dict>
			<key>RoomName</key>
			<string>Room4</string>
			<key>North</key>
			<string>house4room4north</string>
			<key>South</key>
			<string>house4room4south</string>
			<key>East</key>
			<string>house4room4east</string>
			<key>West</key>
			<string>house4room4west</string>
		</dict>
		<key>Room3</key>
		<dict>
			<key>RoomName</key>
			<string>Room3</string>
			<key>North</key>
			<string>house4room3north</string>
			<key>South</key>
			<string>house4room3south</string>
			<key>East</key>
			<string>house4room3east</string>
			<key>West</key>
			<string>house4room3west</string>
		</dict>
		<key>Room2</key>
		<dict>
			<key>RoomName</key>
			<string>Room2</string>
			<key>North</key>
			<string>house4room2north</string>
			<key>South</key>
			<string>house4room2south</string>
			<key>East</key>
			<string>house4room2east</string>
			<key>West</key>
			<string>house4room2west</string>
		</dict>
		<key>Room1</key>
		<dict>
			<key>RoomName</key>
			<string>Room1</string>
			<key>North</key>
			<string>house4room1north</string>
			<key>South</key>
			<string>house4room1south</string>
			<key>East</key>
			<string>house4room1east</string>
			<key>West</key>
			<string>house4room1west</string>
		</dict>
	</dict>
</dict>
</plist>
