<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Room</key>
	<dict>
		<key>Room5</key>
		<dict>
			<key>RoomName</key>
			<string>Passage</string>
			<key>North</key>
			<string>Room3</string>
			<key>South</key>
			<string>Room1</string>
			<key>East</key>
			<string>Room4</string>
			<key>West</key>
			<string></string>
		</dict>
		<key>Room4</key>
		<dict>
			<key>RoomName</key>
			<string>Bedroom2</string>
			<key>North</key>
			<string></string>
			<key>South</key>
			<string>Room5</string>
			<key>East</key>
			<string></string>
			<key>West</key>
			<string></string>
		</dict>
		<key>Room3</key>
		<dict>
			<key>RoomName</key>
			<string>Bedroom1</string>
			<key>North</key>
			<string></string>
			<key>South</key>
			<string>Room5</string>
			<key>East</key>
			<string></string>
			<key>West</key>
			<string></string>
		</dict>
		<key>Room2</key>
		<dict>
			<key>RoomName</key>
			<string>Kitchen</string>
			<key>North</key>
			<string></string>
			<key>South</key>
			<string></string>
			<key>East</key>
			<string>Room1</string>
			<key>West</key>
			<string></string>
		</dict>
		<key>Room1</key>
		<dict>
			<key>RoomName</key>
			<string>Living Room</string>
			<key>North</key>
			<string>Room5</string>
			<key>South</key>
			<string></string>
			<key>East</key>
			<string></string>
			<key>West</key>
			<string>Room2</string>
		</dict>
	</dict>
	<key>Person</key>
	<dict>
		<key>Room5</key>
		<dict>
			<key>RoomName</key>
			<string>Room5</string>
			<key>North</key>
			<string>house2room5north</string>
			<key>South</key>
			<string>house2room5south</string>
			<key>East</key>
			<string></string>
			<key>West</key>
			<string></string>
		</dict>
		<key>Room4</key>
		<dict>
			<key>RoomName</key>
			<string>Room4</string>
			<key>North</key>
			<string>house2room4north</string>
			<key>South</key>
			<string>house2room4south</string>
			<key>East</key>
			<string>house2room4east</string>
			<key>West</key>
			<string>house2room4west</string>
		</dict>
		<key>Room3</key>
		<dict>
			<key>RoomName</key>
			<string>Room3</string>
			<key>North</key>
			<string>house2room3north</string>
			<key>South</key>
			<string>house2room3south</string>
			<key>East</key>
			<string>house2room3east</string>
			<key>West</key>
			<string>house2room3west</string>
		</dict>
		<key>Room2</key>
		<dict>
			<key>RoomName</key>
			<string>Room2</string>
			<key>North</key>
			<string>house2room2north</string>
			<key>South</key>
			<string>house2room2south</string>
			<key>East</key>
			<string>house2room2east</string>
			<key>West</key>
			<string>house2room2west</string>
		</dict>
		<key>Room1</key>
		<dict>
			<key>RoomName</key>
			<string>Room1</string>
			<key>North</key>
			<string>house2room1north</string>
			<key>South</key>
			<string>house2room1south</string>
			<key>East</key>
			<string>house2room1east</string>
			<key>West</key>
			<string>house2room1west</string>
		</dict>
	</dict>
</dict>
</plist>
